name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable
        pip install webdriver-manager

    - name: Install Allure CLI
      run: |
        wget https://github.com/allure-framework/allure2/releases/download/2.36.0/allure-2.36.0.tgz  # Замена: актуальная версия
        tar -zxvf allure-2.36.0.tgz
        export PATH=$PWD/allure-2.36.0/bin:$PATH
        allure --version  

    - name: Run tests
      run: |
        pytest --alluredir=report/allure-results
        ls report/allure-results || echo "No Allure results generated"  

    - name: Generate Allure report
      if: always()
      run: |
        export PATH=$PWD/allure-2.36.0/bin:$PATH  
        allure generate report/allure-results -o report/allure-report --clean

    - name: Upload Allure report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: allure-report
        path: report/allure-report

    - name: Deploy Allure report to GitHub Pages
      if: github.ref == 'refs/heads/main'
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./report/allure-report
        publish_branch: gh-pages