name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        # Для Selenium: Установите Chrome и ChromeDriver
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable
        pip install webdriver-manager  # Если используете его для ChromeDriver

    - name: Run tests
      run: |
        pytest --alluredir=report/allure-results  # Запуск тестов с Allure

    - name: Generate Allure report
      if: always()
      run: |
        allure generate report/allure-results -o report/allure-report --clean

    - name: Upload Allure report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: allure-report
        path: report/allure-report