name: CI Pipeline

on:
  push:
    branches: [ gh-pages ]
  pull_request:
    branches: [ gh-pages ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable
        pip install webdriver-manager

    - name: Install Allure CLI
      run: |
        wget https://github.com/allure-framework/allure2/releases/download/2.25.0/allure-2.25.0.tgz  # Последняя версия на момент написания; проверьте актуальную на https://github.com/allure-framework/allure2/releases
        tar -zxvf allure-2.25.0.tgz
        export PATH=$PWD/allure-2.25.0/bin:$PATH
        allure --version  

    - name: Run tests
      run: |
        pytest --alluredir=report/allure-results

    - name: Generate Allure report
      if: always()
      run: |
        export PATH=$PWD/allure-2.25.0/bin:$PATH
        allure generate report/allure-results -o report/allure-report --clean

    - name: Upload Allure report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: allure-report
        path: report/allure-report